.Xauthority
.android
.bash_history
.bzr.log
.cache
.cargo
.cf
.config/Trolltech.conf
.config/cron_scripts/cron.minutely
.config/cron_scripts/private_rc_file.sh
.config/dconf
.config/htop
.config/mc
.config/pulse
.config/wireshark
.dbus
.gem
.gnupg
.kde4
.lesshst
.local
.subversion
.userrc
.vim/.netrwhist
.viminfo
.xauth*
