.Xauthority
.bash_history
.bzr.log
.cache/lightdm-gtk-greeter/state
.cache/mc/Tree
.config/dconf/user
.config/mc/ini
.config/mc/panels.ini
.config/pulse/*-runtime
.dbus/session-bus/*-0
.lesshst
.local/share/.converted-launchers
.local/share/mc/history
.subversion/README.txt
.subversion/config
.subversion/servers
.vim/.netrwhist
.viminfo
.xauth*
