.Xauthority
.android
.bash_history
.bzr.log
.cache
.config/configstore
.config/cron_scripts/cron.minutely
.config/dconf
.config/htop
.config/mc
.config/pulse
.config/rc_files
.dbus
.gnupg
.keep_acct-user_root-0
.lesshst
.local
.npm
.python_history
.rnd
.ssh
.subversion
.tig_history
.vim
.viminfo
.xauth*
